<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profilepic.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Stephen Cagigal</h1>
    <p>Welcome to my blog.</p>
    <p>I created this site to bring as many people affected by Myasthenia Gravis together to better support each other</p>
    <p>I was diagnosed January 2014 with Myasthenia Gravis and had no idea what it was even after the doctor informed me.  My mind was not paying attention as I was in shock.  I then spent hours upon hours scouring the internet on any information I could find.  What urked me was that I could not find this all in one location</p>
    <p>I hope that with more members we will be able to center the whole community here and give enough support to one another to ease our doubts about our health.</p>
    <p>Every day is hard living with Myasthenia Gravis but speaking with others that understand makes it that much more bearable.</p>
  </div>
</div>
